<!DOCTYPE html>
<html>
    <head>
        <title>Strava Yearly Data Analysis</title>
    </head>
    <body>
        <h1>Strava Yearly Data Analysis</h1>
        <p><a href="{{ url_for('get_approved') }}">Grant Access to Strava Data</a></p>
        <p><a href="{{ url_for('refresh_data') }}">Refresh strava data</a></p>
        <p><a href="{{ url_for('summarize') }}">See summary statistics</a></p>
        <p><a href="{{ url_for('activity_list') }}">See all of your activites here</a></p>
        <p><a href="{{ url_for('welcome_page') }}">Home Page</a></p>
    </body>
</html>



