<!DOCTYPE html>
<html>
    <head>
        <title>Running Website</title> <!-- what the website is called in a tab-->
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/templates.css') }}">
    </head>
    <body>
        <header>
            <div id="nav">
                <h1 class="logo">Running Website</h1>
                
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('welcome_page') }}">Home Page</a></li>
                            <li><a href="{{ url_for('strava') }}">Strava Links</a></li>
                        </ul>
                    </nav>  
            </div>
        </header>
        <div class="container">
            {% block content %} 
            {% endblock %}
        </div>
    </body>
</html>
