<!DOCTYPE html>
<html>
    <head>
        <title>Running Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}">
    </head>
    <body>
        <header>
            <div id="nav">
                <h1 class="logo">Running Website</h1>
                
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('welcome_page') }}">Home Page</a></li>
                            <li><a href="{{ url_for('summarize') }}">See summary statistics</a></li>
                            <li><a href="{{ url_for('activity_list') }}">See all of your activites here</a></li>
                        </ul>
                    </nav>
                
            </div>
        </header>
        <div class="container">
            {% block content %} 
            {% endblock %}
        </div>
    </body>
</html>
