<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Weekly Summary</title> <!-- what the website is called in a tab-->
   </head>
   <body>
      {% extends "navigation.html" %}
      {% block content %}
      <!-- Page content -->
      <h1> {{ header }} </h1>
      <h2> Activites for the week </h2>
      <p> {{ activity_table}} </p>

      <h2> Week Summary Graphs</h2>

      <iframe src="{{ src1 }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ src2 }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ src3 }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ src4 }}" seamless width=1000, height=600></iframe>

      <!--
      <iframe src= "{{ url_for('static', filename='charts/weekly_hr_pie.html') }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ url_for('static', filename='charts/weekly_hr_hist.html') }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ url_for('static', filename='charts/weekly_mileage_bar.html') }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ url_for('static', filename='charts/weekly_time_bar.html') }}" seamless width=1000, height=600></iframe>
      -->


      <!-- End Page content -->
      {% endblock %}
   </body>
</html>