<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Weekly Summary</title> <!-- what the website is called in a tab-->
   </head>
   <body>
      {% extends "navigation.html" %}
      {% block content %}

      {% if activity_table %}
      <!-- Page content -->
      <h1> {{ header }} </h1>

      <h2> Overview: </h2>
      <!-- total_mileage, avg_mileage, tot_time, avg_time -->
         <table>
            <tr>
               <th>Total Mileage (miles)</th>
               <th>Average Mileage (miles)</th>
               <th>Total Time (hours)</th>
               <th>Average Time (hours)</th>
               <th>Total Elevation Gain (meters)</th>
            </tr>
            <tr>
               <td>{{ total_mileage }}</td>
               <td>{{ avg_mileage }}</td>
               <td> {{ tot_time }}</td>
               <td> {{ avg_time }}</td>
               <td> {{ tot_elev }}</td>
            </tr>
         </table>

      <h2> Activites for the week </h2>
      <p> {{ activity_table }} </p>

      <h2> Week Summary Graphs</h2>

      <iframe src="{{ src1 }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ src2 }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ src3 }}" seamless width=1000, height=600></iframe>
      <iframe src="{{ src4 }}" seamless width=1000, height=600></iframe>

      {% else %}
      <h1> No Activites for this week </h1>
      <p> Consider refreshing Strava Data if you think this is a mistake </p>
      {% endif %}
      <!-- End Page content -->
      {% endblock %}
   </body>
</html>